@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #fff;
	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
}

.responsive{
	position: absolute;
	left:50%;
	right:50%;
}

header#cabecalho{
	width: 100%;
	height: 740px;
	background-color: #fcdb00;
}

div#cabecalho-area{
	width: 1024px;
	height: 740px;
    margin-left: -500px;
}

figure.logotype{
    position: relative;
    float: left;
    top: 50px;
    margin-left: -20px;
}

nav.menu{
	position: relative;
	float: right;
	top: 80px;
}

nav.menu ul li{
	display: inline-block;
	list-style: none;
	padding-left: 100px;
}

nav.menu ul li a{
	text-decoration: none;
	font-weight: 700;
	color: #000;
	font-size: 18px;
}

div#slider-show{
	width: 1024px;
	height: 500px;
	margin-top:180px;
}

div#slider-show h2{
	font-weight: 400;
}

div#text-control{
	position: relative;
	top:90px;
}

figure.icons-os{
	position: relative;
	margin-top: 150px;
	margin-left: -40px;
}

img.icons-os{
	padding-left: 35px;
}

figure.ipad{
	position: relative;
	float: right;
	margin-top: -450px;
}

div#buttons-slider{
	position: relative;
	float: left;
	margin-left: 470px;
	top: 50px;
}

div.ball-1{
	position: relative;
	float: left;
	width: 20px;
	height: 20px;
	background-color:  rgba(255, 255, 255, 0.6);
	border-radius: 50px;
	cursor: pointer;
}

div.ball-2{
	position: relative;
	float: left;
	width: 20px;
	height: 20px;
	background-color:  rgba(255, 255, 255, 0.6);
	border-radius: 50px;
	margin-left: 20px;
	cursor: pointer;
}

div.ball-3{
	position: relative;
	float: left;
	width: 20px;
	height: 20px;
	background-color:  rgba(255, 255, 255, 0.6);
	border-radius: 50px;
	margin-left: 20px;
	cursor: pointer;
}

div.ball-1:hover, div.ball-2:hover, div.ball-3:hover{
    background-color: #fff;
    transition: all 0.3s linear;
}

/* CONTEÚDO */
section#conteudo{
	width: 100%;
	height: 775px;
	background-color: #fff;
}

article#conteudo{
	width: 1024px;
	height: 740px;
    margin-left: -500px;
}

div#title{
	position: relative;
	top: 70px;
}

div#title h1{
    text-align: center;
    font-weight: 400;
}

div#title h2{
    text-align: center;
    font-size: 24px;
}

div#conteudo-infos{
	position: relative;
	top: 200px;
}

/* INFOS 1 */
figure.infos-1{
	position: relative;
	float: left;
	width: 280px;
	height: 120px;
}

figure.infos-1 h2{
	position: relative;
	float: left;
	padding-left: 10px;
}

figure.infos-1 p{
	position: relative;
	float: left;
	padding-left: 10px;
}

img.icon{
	position: relative;
	float: left;
}

/* INFOS 2 */
figure.infos-2{
	position: relative;
	float: left;
	width: 280px;
	height: 120px;
	margin-left: 60px;
}

figure.infos-2 h2{
	position: relative;
	float: left;
	padding-left: 10px;
}

figure.infos-2 p{
	position: relative;
	float: left;
	padding-left: 10px;
}

img.icon{
	position: relative;
	float: left;
}

/* INFOS 3 */
figure.infos-3{
	position: relative;
	float: left;
	width: 280px;
	height: 120px;
	margin-left: 60px;
}

figure.infos-3 h2{
	position: relative;
	float: left;
	padding-left: 10px;
}

figure.infos-3 p{
	position: relative;
	float: left;
	padding-left: 10px;
}

img.icon{
	position: relative;
	float: left;
}

/* INFOS 4 */
figure.infos-4{
	position: relative;
	float: left;
	width: 280px;
	height: 120px;
	top: 100px;
	margin-left: -10px;
}

figure.infos-4 h2{
	position: relative;
	float: left;
	padding-left: 10px;
}

figure.infos-4 p{
	position: relative;
	float: left;
	padding-left: 10px;
}

img.icon{
	position: relative;
	float: left;
}

/* INFOS 5 */
figure.infos-5{
	position: relative;
	float: left;
	width: 280px;
	height: 120px;
	margin-left: 70px;
	top: 100px;
}

figure.infos-5 h2{
	position: relative;
	float: left;
	padding-left: 10px;
}

figure.infos-5 p{
	position: relative;
	float: left;
	padding-left: 10px;
}

img.icon{
	position: relative;
	float: left;
}

/* INFOS 6 */
figure.infos-6{
	position: relative;
	float: left;
	width: 280px;
	height: 120px;
	margin-left: 60px;
	top: 100px;
}

figure.infos-6 h2{
	position: relative;
	float: left;
	padding-left: 10px;
}

figure.infos-6 p{
	position: relative;
	float: left;
	padding-left: 10px;
}

img.icon{
	position: relative;
	float: left;
}

footer#rodape{
	width: 100%;
	height: 770px;
	background-color: #000;
}

div#rodape{
	width: 1024px;
	height: 740px;
    margin-left: -500px;
}

div#text-rodape{
	position: relative;
	top: 80px;
}

div#rodape h1{
	color: #fcdb00;
	font-weight: 700;
	text-align: center;
}

div#rodape p{
	color: #fff;
	text-align: center;
	font-size: 18px;
}

form#formulario{
	position: relative;
	top: 120px;
	margin-left: 200px;
}

input.email{
	position: relative;
	float: left;
	width: 500px;
	height: 40px;
	border-radius: 5px;
	border: none;
	font-family: 'PT Sans', sans-serif;
	padding-left: 15px;
}

input.submit{
	position: relative;
	float: left;
	height: 40px;
	width: 100px;
	background-color: #fcdb00;
	border-radius: 5px;
	border: none;
	margin-top: -18px;
	margin-left: 20px;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
}

figure.redes-sociais{
	position: relative;
	float: left;
	margin-left: -430px;
	top:200px;
}

div#address{
	position: absolute;
	float: left;
	top:500px;
}

div#address p{
	text-align: left;
}

/* NAV LINKS FOOTER 1 */
nav#links-footer-1{
	position: absolute;
	float: left;
	margin-top: 380px;
	margin-left: 350px;
}

nav#links-footer-1 ul li{
	list-style: none;
}

nav#links-footer-1 ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

/* NAV LINKS FOOTER 2 */
nav#links-footer-2{
	position: absolute;
	float: left;
	margin-top: 380px;
	margin-left: 550px;
}

nav#links-footer-2 ul li{
	list-style: none;
}

nav#links-footer-2 ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

/* NAV LINKS FOOTER 3 */
nav#links-footer-3{
	position: absolute;
	float: left;
	margin-top: 380px;
	margin-left: 730px;
}

nav#links-footer-3 ul li{
	list-style: none;
}

nav#links-footer-3 ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

/* NAV LINKS FOOTER 4 */
nav#links-footer-4{
	position: absolute;
	float: left;
	margin-top: 380px;
	margin-left: 930px;
}

nav#links-footer-4 ul li{
	list-style: none;
}

nav#links-footer-4 ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

/* Tela 768px e 1024px */
@media (min-width:768px) and (min-device-width:768px) and (max-width: 1024px){

	div#cabecalho-area{
		width: 750px;
		height: 740px;
	    margin-left: -370px;
	}

	figure.ipad {
	    position: relative;
	    float: right;
	    margin-top: -450px;
	    margin-right: 0px;
	}

	div#slider-show {
	    width: 750px;
	    height: 500px;
	    margin-top: 180px;
	}

	div#buttons-slider {
	    position: relative;
	    float: left;
	    margin-left: 330px;
	    top: 0px;
	}

	section#conteudo {
	    width: 100%;
	    height: 850px;
	    background-color: #fff;
	}

	article#conteudo {
	    width: 750px;
	    height: 740px;
	    margin-left: -370px;
	}

	figure.infos-1 {
	    position: relative;
	    float: left;
	    width: 280px;
	    height: 120px;
	    margin-left: 80px;
	}

	figure.infos-3 {
	    position: relative;
	    float: left;
	    width: 280px;
	    height: 120px;
	    margin-left: 70px;
	    top: 50px;
	}

	figure.infos-4 {
	    position: relative;
	    float: left;
	    width: 280px;
	    height: 120px;
	    top: 50px;
	    margin-left: 70px;
	}

	figure.infos-6 {
	    position: relative;
	    float: left;
	    width: 280px;
	    height: 120px;
	    margin-left: 70px;
	    top: 100px;
	}

	figure.infos-6 p {
	    position: relative;
	    float: left;
	    padding-left: 70px;
	}

	div#rodape {
	    width: 750px;
	    height: 740px;
	    margin-left: -370px;
	}

	form#formulario {
	    position: relative;
	    top: 120px;
	    margin-left: 60px;
	}

	nav#links-footer-1 {
	    position: absolute;
	    float: left;
	    margin-top: 380px;
	    margin-left: 300px;
	}

	nav#links-footer-2 {
	    position: absolute;
	    float: left;
	    margin-top: 380px;
	    margin-left: 430px;
	}

	nav#links-footer-3 {
	    position: absolute;
	    float: left;
	    margin-top: 380px;
	    margin-left: 550px;
	}

	nav#links-footer-4 {
	    position: absolute;
	    float: left;
	    margin-top: 380px;
	    margin-left: 690px;
	}

}

@media (min-width:320px) and (min-device-width:320px) and (max-width: 767px){

	div#menu-hamburguer{
		position: relative;
		float: right;
		width: 50px;
		height: 30px;
	    top: 35px;
	    cursor: pointer;
	}

    div.trace{
		width: 100%;
		height: 5px;
		background-color: #000;
		margin-top:10px;
	}

	nav.menu {
	    display: none;
	}

	header#cabecalho {
	    width: 100%;
	    height: 920px;
	    background-color: #fcdb00;
	}

	div#cabecalho-area{
		width: 280px;
		height: 920px;
	    margin-left: -140px;
	}

	figure.ipad {
	    position: relative;
	    float: right;
	    margin-top: -380px;
	    margin-right: 50px;
	}

	div#slider-show {
	    width: 300px;
	    height: 500px;
	    margin-top: 180px;
	}

	div#buttons-slider {
	    position: relative;
	    float: left;
	    margin-left: 330px;
	    top: 0px;
	}

	figure.logotype {
	    position: relative;
	    float: left;
	    top: 20px;
	    margin-left: -20px;
	}

	figure.ipad img{
		width: 220px;
	}

	div#text-control {
	    position: relative;
	    top: -50px;
	}

	div#text-control p{
		width: 260px;
	}

	figure.icons-os {
	    position: relative;
	    margin-top: 280px;
	    margin-left: -10px;
	}

	div#buttons-slider {
	    position: relative;
	    float: left;
	    margin-left: 90px;
	    top: 10px;
	}

	section#conteudo {
	    width: 100%;
	    height: 1400px;
	    background-color: #fff;
	}

	article#conteudo {
	    width: 280px;
	    height: 1400px;
	    margin-left: -140px;
	}

	figure.infos-1 {
	    position: relative;
	    float: left;
	    width: 280px;
	    height: 120px;
	    margin-left: 20px;
	}

	figure.infos-2 {
        position: relative;
	    float: left;
	    width: 280px;
	    height: 120px;
	    margin-left: 15px;
	    top: 50px;
	}

	figure.infos-3 {
        position: relative;
	    float: left;
	    width: 280px;
	    height: 120px;
	    margin-left: 15px;
	    top: 100px;
	}

	figure.infos-4 {
	    position: relative;
	    float: left;
	    width: 280px;
	    height: 120px;
	    top: 150px;
	    margin-left: 15px;
	}

	figure.infos-5 {
		position: relative;
	    float: left;
	    width: 280px;
	    height: 120px;
	    margin-left: 15px;
	    top: 200px;
	}

	figure.infos-6 {
	    position: relative;
	    float: left;
	    width: 280px;
	    height: 120px;
	    margin-left: 15px;
	    top: 250px;
    }

    figure.infos-6 p{
    	padding-left: 70px;
    }

    footer#rodape {
	    width: 100%;
	    height: 1000px;
	    background-color: #000;
	}

    div#rodape {
	    width: 280px;
	    height: 1000px;
	    margin-left: -140px;
	}

	form#formulario {
		position: relative;
	    top: 120px;
	    margin-left: 2px;
	}

	input.email {
	    position: relative;
	    float: left;
	    width: 260px;
	    height: 40px;
	    border-radius: 5px;
	    border: none;
	    font-family: 'PT Sans', sans-serif;
	    padding-left: 15px;
	}

	input.submit {
		position: relative;
	    float: left;
	    height: 40px;
	    width: 275px;
	    background-color: #fcdb00;
	    border-radius: 5px;
	    border: none;
	    margin-top: 10px;
	    margin-left: 0px;
	    font-family: 'PT Sans', sans-serif;
	    text-transform: uppercase;
	    font-weight: 700;
	    cursor: pointer;
    }

    figure.redes-sociais {
    	position: relative;
	    float: left;
	    margin-left: 40px;
	    top: 150px;
	}

	div#address {
		position: absolute;
	    float: left;
	    top: 500px;
	    margin-left: 40px;
	}

	nav#links-footer-1 {
		position: absolute;
	    float: left;
	    margin-top: 480px;
	    margin-left: 40px;
	}

	nav#links-footer-2 {
		position: absolute;
	    float: left;
	    margin-top: 480px;
	    margin-left: 180px;
	}

	nav#links-footer-3 {
		position: absolute;
	    float: left;
	    margin-top: 630px;
	    margin-left: 40px;
    }

    nav#links-footer-4 {
		position: absolute;
	    float: left;
	    margin-top: 630px;
	    margin-left: 180px;
    }

}

